@import '../../../../themes/variables.scss';

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;

    &__logo {
        margin-right: 14px;
    }

    &__text {
        color: $text-gray-color;
        font-size: 26px;
        font-weight: bolder;
        max-width: 200px;
        line-height: 32px;
    }
}