<div class="register">
    <h4>Registration</h4>

    <form class="register__form">
        <div class="register__fild">
            <label>login</label>
            <input type="text" #regFirstName [appWarningBorder]="'LOGIN'">
        </div>

        <div class="register__fild">
            <label>mail</label>
            <input type="email" #regMail [appWarningBorder]="'EMAIL'">
        </div>

        <div class="register__fild">
            <label>password</label>
            <input type="password" #regPassword [appWarningBorder]="'PSW'">
        </div>
    </form>

    <div class="register__controls">
        <button mat-button color="primary" routerLink=''>Login</button>
        <button
            mat-raised-button
            color="primary"
            (click)="handleRegister(regFirstName, regMail, regPassword)">
            Registration
        </button>
    </div>
</div>

