<header>
    <div class="control-panel">
        <div class="search">
            <img class="search__logo" src="../../../assets/icons/logo.svg">
            <div class="search__panel">
                <input id="main-search-input"/>
                <button color="primary" mat-raised-button id="main-search-btn">search</button>
                <button color="warn" mat-raised-button id="setting-btn">btn</button>
            </div>
        </div>
        <div class="user">
            <span>your name</span>
            <button color="accent" mat-raised-button>btn</button>
        </div>
    </div>
</header>
