@import '../../../../themes/variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.admin-wrapper {
    border-radius: 10px;
    min-width: 240px;
    min-height: 100px;
    padding: 10px 20px;
    background-color: $background-color;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}