@import '../../../../themes/variables.scss';

.login {
    &__form {
        display: flex;
        flex-direction: column;
        color: $text-gray-color;
    }

    &__fild {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        & label {
            margin-left: 8px;
        }

        & input {
            margin-top: 4px;
            outline: none;
            border: none;
            border-bottom: 4px solid inherit;
            border-radius: 4px;
            padding-left: 4px;
            min-height: 24px;
            background-color: $background-light-color;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;

        button {
            line-height: 30px;
            padding: 0 10px;
            min-width: 26px;
        }
    }
}