<div *ngIf="item" class="card" [appColorByTime]="item.snippet.publishedAt">
    <div>
        <img [src]="item.snippet.thumbnails.medium.url" class="card__thumbnail" alt="thumbnail">

        <div class="card__info">
            <app-statistics [statistics]="item.statistics"></app-statistics>
        </div>
    </div>

    <div class="card__title">
        <h4 id="card-title">{{title}}</h4>
    </div>

    <button
        mat-raised-button color="primary"
        id="more-btn"
        (click)="goToDetail.emit(item.id)">
        more...
    </button>
</div>