<div class="card" [appColorByTime]="item.snippet.publishedAt">
    <div>
        <img [src]="item.snippet.thumbnails.medium.url" class="card__thumbnail" alt="thumbnail">

        <div class="card__info">
            <app-statistics 
                *ngFor="let stat of statisticsMap"
                [value]="stat.value"
                [icon]="stat.icon">
            </app-statistics>
        </div>
    </div>

    <div class="card__title">
        <h4 id="card-title">{{title}}</h4>
    </div>

    <button mat-raised-button color="primary" id="more-btn">more...</button>
</div>