<div class="admin">
    <h4>Create new card</h4>

    <form class="admin__form">
        <div class="admin__fild">
            <label>title</label>
            <input type="text" #titelInp>
        </div>

        <div class="admin__fild">
            <label>description</label>
            <input type="text" #descInp>
        </div>

        <div class="admin__fild">
            <label>image url</label>
            <input type="text" #imagelInp>
        </div>

        <div class="admin__fild">
            <label>link to video</label>
            <input type="text" #linklInp>
        </div>
    </form>

    <div class="admin__controls">
        <button
            mat-raised-button
            color="primary"
            (click)="createCustomItem(titelInp.value, descInp.value, imagelInp.value, linklInp.value)">
            Create
        </button>
    </div>

</div>
